@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Montserrat", sans-serif;

  --color-olive-50: #f8faf5;
  --color-olive-100: #e9f0da;
  --color-olive-200: #d4e2b6;
  --color-olive-300: #bdd28e;
  --color-olive-400: #a7c26a;
  --color-olive-500: #8fad4a;
  --color-olive-600: #738d3b;
  --color-olive-700: #5a6f2e;
  --color-olive-800: #435324;
  --color-olive-900: #2e3a19;
  --color-olive-950: #1c230f;

  --color-stone-50: #fafaf9;
  --color-stone-100: #f5f5f4;
  --color-stone-200: #e7e5e4;
  --color-stone-300: #d6d3d1;
  --color-stone-400: #a8a29e;
  --color-stone-500: #78716c;
  --color-stone-600: #57534e;
  --color-stone-700: #44403c;
  --color-stone-800: #292524;
  --color-stone-900: #1c1917;
  --color-stone-950: #0c0a09;
}
